Binance_Futures_python/*.pyc
Binance_Futures_python/build/*
Binance_Futures_python/dist/*
Binance_Futures_python/binance_futures.egg-info/*

# jupyter
Binance_Futures_python/*.ipynb_checkpoints
Binance_Futures_python/*.ipynb

# Mac system
.DS_Store

# VSCode
.vscode

# Python venv
.venv
.binance_futures

##### Customize
Binance_Futures_python/binance_f/constant/test.py